<div id="sidebar_plugin_fanrpm" class="fanrpm-sidebar">
    Current: <i class="fa fa-fan" data-bind="css: fanIconClass"></i> <strong><span data-bind="text: formattedRPM, css: rpmStatusClass"></span> <span data-bind="css: rpmStatusClass">RPM</span></strong><br>
    Average: <strong><span data-bind="text: averageRPM"></span> RPM</strong><br>
    Min: <strong><span data-bind="text: minRPM"></span> RPM</strong><span data-bind="text: minRPMTimeFormatted, attr: {title: minRPMTimeAbsolute}"></span><br>
    Max: <strong><span data-bind="text: maxRPM"></span> RPM</strong><span data-bind="text: maxRPMTimeFormatted, attr: {title: maxRPMTimeAbsolute}"></span>

    <style>
        .fanrpm-sidebar .rpm-status-ok {
            color: #468847;
        }

        .fanrpm-sidebar .rpm-status-warning {
            color: #f89406;
        }

        .fanrpm-sidebar .rpm-status-danger {
            color: #b94a48;
        }

        /* Normal speed - 2s */
        .fanrpm-sidebar .fan-spin-ok {
            animation: fa-spin 2s infinite linear;
        }

        /* Half speed - 4s */
        .fanrpm-sidebar .fan-spin-warning {
            animation: fa-spin 4s infinite linear;
        }

        /* Quarter speed - 8s */
        .fanrpm-sidebar .fan-spin-slow {
            animation: fa-spin 8s infinite linear;
        }

        /* No spin for 0 RPM */
        .fanrpm-sidebar .fan-spin-stop {
            /* no animation */
        }
    </style>
</div>
